<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <div class="header-nav">
                <div class="header-logo">
                    <a href="http://127.0.0.1:5000/index"><img src="{{ url_for('static', filename='icons/main.svg') }}" alt="Логотип"></a>
                </div>
                <ul class="header-nav-menu">
                    <li><a href="">Домой</a></li>
                    <li><a href="#">Сообщения</a></li>
                    <li><a href="#">Уведомления</a></li>
                </ul>
                <div class="header-nav-actions" id="user_profile_actions">
                    <button class="btn btn-transparent" id="login">Вход</button>
                    <button class="btn btn-primary" id="register">Регистрация</button>
                </div>
            </div>
        </div>
    </header>

    <main class="profile">
        <div class="profile-header">
            <div class="profile-cover">
                <img src="{{ user.cover_filename if user.cover_filename else url_for('static', filename='images/default_cover.jpg') }}" alt="Обложка профиля">
            </div>
            <div class="profile-info">
                <div class="profile-avatar">
                    <img src="{{ user.photo_url if user.photo_url else url_for('static', filename='images/default.png') }}" alt="Аватар пользователя">
                </div>
                <div class="profile-details">
                    <h1>{{ user.name if user.name else user.username }}</h1>
                    <p>@{{ user.username }}</p>
                    <div id="user-actions">
                    </div>
                </div>
            </div>
        </div>

        <section class="profile-content">
            {% if user.bio %}
            <div class="profile-section">
                <h2>О себе</h2>
                <p>{{ user.bio }}</p>
            </div>
            {% else %}
            <div class="profile-section">
                <h2>О себе</h2>
                <p>Нет информации о себе</p>
            </div>
            {% endif %}

            {% if user.achievements %}
            <div class="profile-section">
                <h2>Достижения</h2>
                <ul>
                    {% for achievement in user.achievements %}
                    <li>{{ achievement }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div class="profile-section">
                <h2>Контакты</h2>
                {% if user.contact %}
                <ul>
                    <li>Email: {{ user.contact.email if user.contact.email else 'Нет контактов' }}</li>
                    <li>Телефон: {{ user.contact.phone if user.contact.phone else 'Нет контактов' }}</li>
                    <li>Сайт: <a href="{{ user.contact.website if user.contact.website else '#' }}"> {{ user.contact.website if user.contact.website else 'Нет контактов' }}</a></li>
                </ul>
                {% else %}
                <p>Нет контактов</p>
                {% endif %}
            </div>
        </section>
    </main>

    <script>
        document.getElementById('login').addEventListener('click', function() {
            window.location.href = '{{ url_for("login") }}';
        });

        document.getElementById('register').addEventListener('click', function() {
            window.location.href = '{{ url_for("register") }}';
        });

        // Функция для декодирования JWT токена
        function parseJwt(token) {
            try {
                const base64Url = token.split('.')[1];
                const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
                const jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
                    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                }).join(''));
                return JSON.parse(jsonPayload);
            } catch (e) {
                return null;
            }
        }

        function checkUserLogin() {
            const token = localStorage.getItem('token');
            const userActions = document.getElementById('user-actions');
            const userProfileActions = document.getElementById('user_profile_actions');
            const userId = {{ user.id }};
            if (token) {
                userProfileActions.innerHTML = `<button class="btn btn-primary" id="logout">Выйти</button>`;
                document.getElementById('logout').addEventListener('click', function() {
            localStorage.removeItem('token');
            window.location.reload();
        });
                const decodedToken = parseJwt(token);
                if (decodedToken && decodedToken.user_id === userId) {
                    userActions.innerHTML = `<button class="btn btn-primary" onclick="window.location.href = 'http://127.0.0.1:5000/profile/edit/${userId}'">Редактировать профиль</button>`;
                }
            }
        }

        document.addEventListener('DOMContentLoaded', checkUserLogin);
    </script>
</body>
</html>
